<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.reproduce.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.study.reproduce.model.domain.Role">
            <id property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_name,create_time,
        update_time,is_deleted
    </sql>
    <select id="getRolesByAdminId" resultType="com.study.reproduce.model.domain.Role">
        select a.role_id,a.role_name,a.create_time,
               a.update_time,a.is_deleted
        from tb_admin_role a
        left join tb_admin_role_relation b
        on a.role_id = b.role_id
        where admin_user_id = #{adminId}
    </select>
</mapper>
